<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Health Food For U</title>
  <%- include("partials/head_next") %>

</head>

<body id="page-top">

  <!-- Navigation-->
  <%- include("partials/navigation") %>


    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold"><strong>질환을 선택해주세요</h1></strong>
            <hr class="divider" />
          </div>

          <div>
            <form method="get">
              <input type="text" name="search">
              <button type="submit" id="search">검색</button>
            </form>
          </div>


          <div class="h-icon">
            <table>
              <colgroup>
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
              </colgroup>
              <tr>
                <td>
                  <a href="#section1"><img  src="assets/img/대사.png" width="80%" hight="80%" id="1"> </br>
                    <label for="1" style="color:white;">내분비/대사 질환</label></a>
                </td>


                <td>
                  <a href="#section2"><img src="assets/img/부인과.png" width="80%" hight="80%" id="2"> </br>
                    <label for="2" style="color:white;">부인과 질환</label></a>
                </td>

                <td>
                  <a href="#section3"><img src="assets/img/소화.png" width="80%" hight="80%" id="3"> </br>
                    <label for="3" style="color:white;">소화계통 질환</label></a>
                </td>

                <td>
                  <a href="#section4"><img src="assets/img/비뇨.png" width="80%" hight="80%" id="4"> </br>
                    <label for="4" style="color:white;">신장/비뇨기 질환</label></a>
                </td>

                <td>
                  <a href="#section5"><img src="assets/img/순환.png" width="80%" hight="80%" id="5"> </br>
                    <label for="5" style="color:white;">혈액/순환계통 질환</label></a>
                </td>

                <td>
                  <a href="#section6"><img src="assets/img/호흡.png" width="80%" hight="80%" id="6"> </br>
                    <label for="6" style="color:white;">호흡기 질환</label></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </header>


    <div class="category">
      <% const title = ["내분비/대사 질환", "부인과 질환", "소화계통 질환", "신장/비뇨기 질환", "혈액/순환계통 질환", "호흡기 질환"] %>
      <%
        const mainCategory = {
          "내분비/대사 질환": ["[내분비, 영양 및 대사 질환]"],
          "부인과 질환": ["[부인과 질환]"],
          "소화계통 질환": ["[소화계통 질환]"],
          "신장/비뇨기 질환": ["[비뇨생식계통 질환]", "[신장질환]"],
          "혈액/순환계통 질환": ["[순환계통 질환]", "[혈액 및 조혈기관 질환]"],
          "호흡기 질환": ["[호흡계통 질환]"]
        }
      %>

      <%
      for(var i=0; i<title.length; i++) { 
        var filtered = [];
        for(var j=0; j<mainCategory[title[i]].length; j++){
            filtered = filtered.concat(disease.filter(function(item){
              return item.main_category === mainCategory[title[i]][j];
            }));
        }
      %>

        <% if(filtered.length > 0){ %>
          <section class="page-section" id="section<%= i+1 %>">
            <h1 class="c_title"><strong><%= title[i] %></h1></strong>
            <hr class="divider" />

            <table class="tg">
              <tbody>
                  
                  <% filtered.forEach(function(item){ %>
                  <tr>
                  
                    <td><a href="recipe_list?disease_id=<%= item._id %>"><%= item.name %></th>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
          </section>
        <% } %>
      <% } %>

      <% if(disease.length === 0) { %>
        <div class="page-section">
          <h1 class="c_title"><strong>검색결과 없음</h1></strong>
          <hr class="divider" />
        </div>
      <% } %>
    </div>

</body>

</html>