<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Health Food For U</title>
  <%- include("partials/head_next") %>

</head>

<body id="page-top">

  <!-- Navigation-->
  <%- include("partials/navigation") %>


    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold"><strong>질환을 선택해주세요</h1></strong>
            <hr class="divider" />
          </div>

          <div>
            <input type="text" name="query" value="">
            <button type="submit">검색</button>
          </div>


          <div class="h-icon">
            <table>
              <colgroup>
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
              </colgroup>
              <tr>
                <td>
                  <a href="#section1"><input type="image" src="assets/img/대사.png" width="80%" hight="80%" id="1"> </br>
                    <label for="1" style="color:white;">내분비/대사 질환</label></a>
                </td>


                <td>
                  <a href="#section2"><img src="assets/img/부인과.png" width="80%" hight="80%" id="2"> </br>
                    <label for="2" style="color:white;">부인과 질환</label></a>
                </td>

                <td>
                  <a href="#section3"><img src="assets/img/소화.png" width="80%" hight="80%" id="3"> </br>
                    <label for="3" style="color:white;">소화계통 질환</label></a>
                </td>

                <td>
                  <a href="#section4"><img src="assets/img/비뇨.png" width="80%" hight="80%" id="4"> </br>
                    <label for="4" style="color:white;">신장/비뇨기 질환</label></a>
                </td>

                <td>
                  <a href="#section5"><img src="assets/img/순환.png" width="80%" hight="80%" id="5"> </br>
                    <label for="5" style="color:white;">혈액/순환계통 질환</label></a>
                </td>

                <td>
                  <a href="#section6"><img src="assets/img/호흡.png" width="80%" hight="80%" id="6"> </br>
                    <label for="6" style="color:white;">호흡기 질환</label></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </header>


    <div class="category">
      <section class="page-section" id="section1">
        <h2 class="c_title"><strong>내분비/대사 질환</h2></strong>
        <hr class="divider" />
        <table class="tg">
          <tbody>
            <%
              disease.filter(function(item){
                return item.main_category === "[내분비, 영양 및 대사 질환]";
              }).forEach(function(item){
            %>
            <tr>
             
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>
          </tbody>
        </table>
      </section>



      <section class="page-section" id="section2">
        <h2><strong>부인과 질환</h2></strong>
        <hr class="divider" />

       <table class="tg">
          <tbody>
            <%
              disease.filter(function(item){
                return item.main_category === "[부인과 질환]";
              }).forEach(function(item){
            %>
            <tr>
           
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>
          </tbody>
        </table>
      </section>



      <section class="page-section" id="section3">
        <h2><strong>소화계통 질환</h2></strong>
        <hr class="divider" />

       <table class="tg">
          <tbody>
            <%
              disease.filter(function(item){
                return item.main_category === "[소화계통 질환]";
              }).forEach(function(item){
            %>
            <tr>
            
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>
          </tbody>
        </table>
      </section>


      <section class="page-section" id="section4">
        <h2><strong>신장/비뇨기 질환</h2></strong>
        <hr class="divider" />

       <table class="tg">
          <tbody>
            <%
              disease.filter(function(item){
                return item.main_category === "[비뇨생식계통 질환]";
              }).forEach(function(item){
            %>
            <tr>
             
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>

            <%
              disease.filter(function(item){
                return item.main_category === "[신장질환]";
              }).forEach(function(item){
            %>
            <tr>
             
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>
          </tbody>
        </table>
      </section>




      <section class="page-section" id="section5">
        <h2><strong>혈액/순환계통 질환</h2></strong>
        <hr class="divider" />

       <table class="tg">
          <tbody>
            <%
              disease.filter(function(item){
                return item.main_category === "[순환계통 질환]";
              }).forEach(function(item){
            %>
            <tr>
           
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>

            <%
              disease.filter(function(item){
                return item.main_category === "[혈액 및 조혈기관 질환]";
              }).forEach(function(item){
            %>
            <tr>
              
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>
          </tbody>
        </table>
      </section>




      <section class="page-section" id="section6">
        <h2><strong>호흡기 질환</h2></strong>
        <hr class="divider" />

       <table class="tg">
          <tbody>
            <%
              disease.filter(function(item){
                return item.main_category === "[호흡계통 질환]";
              }).forEach(function(item){
            %>
            <tr>
              
              <td><a href="recipe_list"><%= item.name %></th>
            </tr>
            <%    
              });
            %>
          </tbody>
        </table>
      </section>
    </div>

</body>

</html>