<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= receipe.RCP_NM %></h1>
    <ul>
        <li><%= receipe.MANUAL01 %></li>
        <li><img src= <%= receipe.MANUAL_IMG01 %> /></li>
        <li><%= receipe.MANUAL02 %></li>
        <li><img src= <%= receipe.MANUAL_IMG02 %> /></li>
        <li><%= receipe.MANUAL03 %></li>
        <li><img src= <%= receipe.MANUAL_IMG03 %> /></li>
    </ul>
</body>
</html>