<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include("partials/head_rec") %>
    <!-- Navigation-->
            <%- include("partials/navigation") %>

 <title>Health Food For U</title>
       
    </head>

    <body id="recipe_list">
    
     <%- include("partials/like-list", {favoriteReceipes: favoriteReceipes}) %>


    <div class="all">  
              
               
                    <div class="list-header">
                    <div class="title_div">선택하신 질환은 </br><span class="d_name"><%= disease.name %></span>입니다.</div>
                    </div>
                    <br/>
                    
                  
                 <div class="caution">   
                        <h2><strong> 주의해야 할 음식</h2></strong>
                         <hr class="divider" />
                    
                        <div class="caution_list">
                            <%= disease.caution %>
                        </div>
                    <br/>
             </div>

    

           <!-- 검색창-->
           
        <div class="search">
            <form method="get">
                <input type="text" name="search" style="width:50%">
                <input type="hidden" name="disease_id" value="<%= disease._id %>" style="width:50%">
                <input type="hidden" name="startIndex" value=0 style="width:50%">
                <button type="submit" id="search">검색</button> 
            </form>
	    </div>
       <p/>
       </div>
      

       <!-- 레시피 결과-->
        <div class="result">
            
            
           
            <section>
                <div class="rec_list">
                 <h5 style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 <%= totalCount %>개의 레시피가 있습니다.</h5>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                     <% if (typeof(cautionReceipes) == 'undefined') cautionReceipes = [] %>
                     <% for(const cautionReceipe of cautionReceipes) { %>
                        <div class="col mb-5">
                        <div class="item">
                            <div class="card h-100">   
                                <a href="recipe_view?receipe_id=<%= cautionReceipe._id %>">
                                <img style= "height:20rem;" src="<%= cautionReceipe.ATT_FILE_NO_MK %>" alt="..." />                         
                                
                                <div class="card-body p-4">
                                    <div class="text-center">                                  
                                        <class="fw-bolder"><%= cautionReceipe.RCP_NM %></a>       
                                    </div>
                                </div>
                               </div>
                            </div>
                        </div>
                        <% } %>
                            </div>
                    </section>
                </div>

            <div class="container" style="padding-bottom:50px;">
                <div class="row">
                    <div class="col">
                    <ul class="pagination justify-content-center">
                        <% if (typeof(startIndex) == 'undefined') startIndex = 0 %>
                        <% let currentPageNum = parseInt(startIndex / 20) + 1 %>
                        <% const currentSartPageNum = parseInt((currentPageNum - 1) / 5) * 5 + 1 %>

                        <% if (currentPageNum > 5) { %>
                            <li class="page-item"><a class="page-link" href="/recipe_list?disease_id=<%= disease._id %>&startIndex=<%= (currentSartPageNum - 2) * 20 %>">이전</a></li>
                        <% } %>

                        <% overflow = true %>
                        <% for(let i=currentSartPageNum; i<currentSartPageNum + 5; i++) { %>
                            <% if (currentPageNum === i ) { %>
                                <li class="page-item active" ><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                                <li class="page-item" ><a class="page-link" href="/recipe_list?disease_id=<%= disease._id %>&startIndex=<%= (i-1) * 20 %>"><%= i %></a></li>
                            <% } %>
                            <% if (i*20 > totalCount) {overflow = false; break} %>
                        <% } %>

                        <% if (overflow) { %>
                            <li class="page-item"><a class="page-link" href="/recipe_list?disease_id=<%= disease._id %>&startIndex=<%= (currentSartPageNum + 4) * 20 %>">다음</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
    </div>
</div>
        </body>
    </html>