<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include("partials/head_rec") %>
    <!-- Navigation-->
            <%- include("partials/navigation") %>

 <title>Health Food For U</title>
       
    </head>

    <body id="recipe_list">
    
     <%- include("partials/like-list", {favoriteReceipes: favoriteReceipes}) %>


    <div class="all">  
              
               
                    <div class="list-header">
                    <div class="title_div">선택하신 질환은 </br><span class="d_name"><%= disease.name %></span>입니다.</div>
                    </div>
                    <br/>
                    
                  
                 <div class="caution">   
                        <h2><strong> 주의해야 할 음식</h2></strong>
                         <hr class="divider" />
                    
                        <div class="caution_list">
                            <%= disease.caution %>
                        </div>
                    <br/>
             </div>

    

           <!-- 검색창-->
           
        <div class="search">
            <form method="get">
                <input type="text" name="search" style="width:50%">
                <input type="hidden" name="disease_id" value="<%= disease._id %>" style="width:50%">
                <button type="submit" id="search">검색</button> 
            </form>
	    </div>
       <p/>
       </div>
      

       <!-- 레시피 결과-->
        <div class="result">
            
            
           
            <section>
                <div class="rec_list">
                 <h5 style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 <%= cautionReceipes.length %>개의 레시피가 있습니다.</h5>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                     <% for(const cautionReceipe of cautionReceipes) { %>
                        <div class="col mb-5">
                        <div class="item">
                            <div class="card h-100">   
                                <a href="recipe_view?receipe_id=<%= cautionReceipe._id %>">
                                <img style= "height:20rem;" src="<%= cautionReceipe.ATT_FILE_NO_MK %>" alt="..." />                         
                                
                                <div class="card-body p-4">
                                    <div class="text-center">                                  
                                        <class="fw-bolder"><%= cautionReceipe.RCP_NM %></a>       
                                    </div>
                                </div>
                               </div>
                            </div>
                        </div>
                        <% } %>
                            </div>
                    </section>
                    </div>

        <div class="container" style="padding-bottom:50px;">
			<div class="row">
				<div class="col">
                <ul class="pagination justify-content-center">
						<li class="page-item disabled" ><a class="page-link" href="#">이전</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">1</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">2</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">3</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">4</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">5</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">다음</a></li>
					</ul>
				</div>
			</div>
		</div>
                    </div>
        </body>
    </html>