<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Health Food For U</title>
        <%- include("partials/head_rec") %>

        <script type="text/javascript">
            window.onload = function() {
                var httpRequest;
    
                document.getElementById("favoriteBtn").addEventListener('click', () => {
                    var reqJson = new Object();
                    reqJson.name = "<%= receipe._id %>";
                    httpRequest = new XMLHttpRequest();
    
                    httpRequest.onreadystatechange = () => {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                              if (httpRequest.status === 200) {
                                var result = httpRequest.response.result;
                                console.log(result);
                                if(result==='success'){
                                    alert('즐겨찾기에 추가됨');
                                }
                                else{
                                    alert(result);
                                }
                              } else {
                                alert('request에 뭔가 문제가 있어요.');
                              }
                        }
                    };
                    
                    httpRequest.open('POST', '/receipe/favorite', true);
                    httpRequest.responseType = "json";
                    httpRequest.setRequestHeader('Content-Type', 'application/json');
                    httpRequest.send(JSON.stringify(reqJson));                
                });
            }
        </script>
    </head>

    <body id="recipe_view">
         <!-- Navigation-->
            <%- include("partials/navigation") %>
              <%- include("partials/like-list", {favoriteReceipes: favoriteReceipes}) %>

            <div class="recipe">
                <div class="title">
                        <img src="<%= receipe.ATT_FILE_NO_MK %>"><p/>
	                    <h1><%= receipe.RCP_NM %></h1>
                        <button class="add" id="favoriteBtn">즐겨찾기에 추가</button><p/>
                        <h6>즐겨찾는 레시피는 왼쪽에 마우스를 가져다대면 보여요!</h6>   
                    </div>
                    
             </div> 
             
            <section class="rec">
                    <div class="cook">
                        <h2>[재료]</h2>
                    
	                    <p><h5><%= receipe.RCP_PARTS_DTLS %></h5> </p>
			   <hr class="divider" />   
                        <h2>[조리 순서]</h2>
                        <p/>
                        <div class="cooking">
                        <% for(var i=1; i<19; i++){ %>
                            <% if(receipe["MANUAL"+String(i).padStart(2, '0')].length > 0){ %>
                                <% const pos = receipe["MANUAL"+String(i).padStart(2, '0')].indexOf(".") %>
                                <% const order = receipe["MANUAL"+String(i).padStart(2, '0')].slice(0, pos) %>
                                <% const cook = receipe["MANUAL"+String(i).padStart(2, '0')].slice(pos+1, receipe["MANUAL"+String(i).padStart(2, '0')].length) %>
                                <span class="num"><%= order %></span><%= cook %><br>
                            <% } %>

                            <!-- 조리방법 이미지 -->
                            <!--/br> 
                                <% if(receipe["MANUAL_IMG"+String(i).padStart(2, '0')].length > 0){ %>
                                        <img src="<%= receipe['MANUAL_IMG'+String(i).padStart(2, '0')] %>">
                                <% } %>
                            </br-->
                        <% } %>
                       </div>
                    </div>
             </section>
         <section class="recommand">
   

             <div class="layout">
                          <article>
                           <div class="card-header" ><sapn style="margin-left:5rem;">이 레시피는 어때요?</sapn></div>
                               <div class="flexbox">
                                <div class="item"><a href="recipe_view?receipe_id=<%= cautionReceipes[number[0]]._id %>"><img src="<%=cautionReceipes[number[0]].ATT_FILE_NO_MK%>"/><br/><%= cautionReceipes[number[0]].RCP_NM %></a></div>
                                <div class="item"><a href="recipe_view?receipe_id=<%= cautionReceipes[number[1]]._id %>"><img src="<%=cautionReceipes[number[1]].ATT_FILE_NO_MK%>"/><br/><%= cautionReceipes[number[1]].RCP_NM %></a></div>
                                <div class="item"><a href="recipe_view?receipe_id=<%= cautionReceipes[number[2]]._id %>"><img src="<%=cautionReceipes[number[2]].ATT_FILE_NO_MK%>"/><br/><%= cautionReceipes[number[2]].RCP_NM %></a></div>
                                <div class="item"><a href="recipe_view?receipe_id=<%= cautionReceipes[number[3]]._id %>"><img src="<%=cautionReceipes[number[3]].ATT_FILE_NO_MK%>"/><br/><%= cautionReceipes[number[3]].RCP_NM %></a></div>
                                <div class="item"><a href="recipe_view?receipe_id=<%= cautionReceipes[number[4]]._id %>"><img src="<%=cautionReceipes[number[4]].ATT_FILE_NO_MK%>"/><br/><%= cautionReceipes[number[4]].RCP_NM %></a></div>
                                  
                                <div>
                             </article>
                 </div>
               </section>

</body> 
</html>
